@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-rgb: 0, 0, 0;
  --secondary-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-rgb: 255, 255, 255;
    --secondary-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--primary-rgb));
  background: rgb(var(--secondary-rgb));
}
